div {
    display: flex;
}

.mydiv {
    width: 150px;
    height: 150px;
}

.d1 {
    background-color: coral;
}

.d2 {
    background-color: darkkhaki;
}

.d3 {
    background-color: darkmagenta;
    position: relative;
}

.d4 {
    background-color: darkgray;
    position: absolute;
    left: 0px;
    opacity: 0.4;
}

.green {
    background-color: green;
    width:75px;
    height:75px;
    position: relative;
    top:35px;
}

.darkcyan {
    background-color: darkcyan;
    width:75px;
    height:75px;
    position: absolute;
    right:0px;
    bottom:0px;
}



.s1 {
    background-color: cornflowerblue;
}

.s2 {
    background-color: darkblue;
}

.s3 {
    background-color: deeppink;
}

.s4 {
    background-color: lightgreen;
}

.index-section {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 60vh;
    top:150px;
}